.venv
.vscode
.env
AI/
node_modules/
CLOUD[BACK_END]/ai_ccps/ai/backup/yolov4-obj.weights
CLOUD[BACK_END]/ai_ccps/ai/backup/yolov4-tiny_best.weights
CLOUD[BACK_END]/ai_ccps/ai/backup/yolov4-obj.weights
todo.md

